/* 
    General Styles
*/
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.hoverA:hover {
  color: yellow;

}

.fondoWelcome {
  background-image: url("https://i.blogs.es/23b58b/star-wars-wallpapers-6/1366_2000.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 600px;
}

.SB {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  background: linear-gradient(90deg, #000000, #858584, #fff);
  background-size: 200% 100%;
  color: #333;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 20);
  animation: shine 10s linear ;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }

  99% {
    background-position: 100% 0;
  }

  100% {
    background-position: 100% 0; 
  }
}

body {
  background-image: url('https://fondosmil.com/fondo/10787.jpg');
  background-size: cover;
  background-repeat: repeat;
  
  font-size: 1rem; /* Tamaño de fuente grande para encabezados */
  font-weight: bold;
  color: #F10C49; /* Color rojo similar al de Star Wars */
  /* Utiliza la clase .font-star-wars para aplicar el estilo de fuente */
  font-family: 'Star Jedi', sans-serif;


  
}
.font-star-wars {
  font-family: 'Star Jedi', sans-serif; 
  
}





.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
 
}




.loader {
  width: 200px;
  height: 200px;

  aspect-ratio: 1;
  background: 
    radial-gradient(farthest-side at bottom right,#F10C49 90%,#0000),
    radial-gradient(farthest-side at bottom left ,#F10C49 90%,#0000),
    radial-gradient(farthest-side at top    right,#F10C49 90%,#0000),
    radial-gradient(farthest-side at top    left ,#F10C49 90%,#0000),
    radial-gradient(farthest-side at bottom right,#f4dd51 90%,#0000),
    radial-gradient(farthest-side at bottom left ,#f4dd51 90%,#0000),
    radial-gradient(farthest-side at top    right,#f4dd51 90%,#0000),
    radial-gradient(farthest-side at top    left ,#f4dd51 90%,#0000),
    radial-gradient(farthest-side at bottom right,#e3aad6 90%,#0000),
    radial-gradient(farthest-side at bottom left ,#e3aad6 90%,#0000),
    radial-gradient(farthest-side at top    right,#e3aad6 90%,#0000),
    radial-gradient(farthest-side at top    left ,#e3aad6 90%,#0000);
  background-size: 25% 25%;
  background-repeat: no-repeat;
  animation: l16 2s infinite;
}

@keyframes l16 {
  0% {
    background-position: calc(1*100%/3) calc(1*100%/3), calc(2*100%/3) calc(1*100%/3), calc(1*100%/3) calc(2*100%/3), calc(2*100%/3) calc(2*100%/3),
                          calc(1*100%/3) calc(1*100%/3), calc(2*100%/3) calc(1*100%/3), calc(1*100%/3) calc(2*100%/3), calc(2*100%/3) calc(2*100%/3),
                          calc(1*100%/3) calc(1*100%/3), calc(2*100%/3) calc(1*100%/3), calc(1*100%/3) calc(2*100%/3), calc(2*100%/3) calc(2*100%/3);
  }
  16.67% {
    background-position: calc(0*100%/3) calc(0*100%/3), calc(3*100%/3) calc(0*100%/3), calc(0*100%/3) calc(3*100%/3), calc(3*100%/3) calc(3*100%/3),
                          calc(1*100%/3) calc(1*100%/3), calc(2*100%/3) calc(1*100%/3), calc(1*100%/3) calc(2*100%/3), calc(2*100%/3) calc(2*100%/3),
                          calc(1*100%/3) calc(1*100%/3), calc(2*100%/3) calc(1*100%/3), calc(1*100%/3) calc(2*100%/3), calc(2*100%/3) calc(2*100%/3);
  }
  33.33% {
    background-position: calc(0*100%/3) calc(0*100%/3), calc(3*100%/3) calc(0*100%/3), calc(0*100%/3) calc(3*100%/3), calc(3*100%/3) calc(3*100%/3),
                          calc(0*100%/3) calc(0*100%/3), calc(3*100%/3) calc(0*100%/3), calc(0*100%/3) calc(3*100%/3), calc(3*100%/3) calc(3*100%/3),
                          calc(1*100%/3) calc(1*100%/3), calc(2*100%/3) calc(1*100%/3), calc(1*100%/3) calc(2*100%/3), calc(2*100%/3) calc(2*100%/3);
  }
  50% {
    background-position: calc(0*100%/3) calc(0*100%/3), calc(3*100%/3) calc(0*100%/3), calc(0*100%/3) calc(3*100%/3), calc(3*100%/3) calc(3*100%/3),
                          calc(0*100%/3) calc(0*100%/3), calc(3*100%/3) calc(0*100%/3), calc(0*100%/3) calc(3*100%/3), calc(3*100%/3) calc(3*100%/3),
                          calc(0*100%/3) calc(0*100%/3), calc(3*100%/3) calc(0*100%/3), calc(0*100%/3) calc(3*100%/3), calc(3*100%/3) calc(3*100%/3);
  }
}


.botonEstelares {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.botonEstelares::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0.8) 100%);
  transition: all 0.5s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

.botonEstelares:hover::before {
  transform: translate(-50%, -50%) scale(1);
}


.custom-bg-inherit {
  background: inherit;
}